@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit la Colegiul UTM</h1>
    <p class="lead">Platforma noastră vă oferă acces la resurse educaționale și instrumente pentru a vă sprijini studiile.</p>

    <div class="row justify-content-center mt-5">
        <div class="col-md-4 text-center">
            <h3>Studenți</h3>
            <p>Accesați materialele de curs, completați teste online și vizualizați notele dumneavoastră.</p>
        </div>
        <div class="col-md-4 text-center">
            <h3>Profesori</h3>
            <p>Gestionați clasele, încărcați resurse educaționale și evaluați lucrările studenților.</p>
        </div>
    </div>
</div>
